

:root {
    --background: rgba(0, 0, 0, 0.65);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  
}

.logo {
    color: white;
}


.front-image {
    position: absolute;
    top: 8px;
    left: 16px;
}


header {
    background: var(--background);
    text-align: center;
    position: absolute;
    z-index: 100;
    width: 100%;
  }
  
  /* changed this from the tutorial video to
     allow it to gain focus, making it tabbable */
  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  
  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }
  
  nav {
    position: absolute;
    text-align: left;
    padding:0;
    left:0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 14.9px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: rgb(126, 116, 116);
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
  @media screen and (min-width: 813px) {
    .nav-toggle-label {
      display: none;
    }
  
    header {
      display: grid;
      grid-template-columns: 1fr, 3fr;
      
    }
    
    .logo {
      grid-column: 1 / 3;
      padding-left: 20px;
    }
    
    nav {
      /* all: unset; /* this causes issues with Edge, since it's unsupported */
      
      /* the following lines are not from my video, but add Edge support */
      position: relative;
      text-align: left;
      transition: none;
      transform: scale(1,1);
      background: none;
      top: initial;
      left: initial;
      /* end Edge support stuff */
      
      grid-column: 3 / 4;
      display: flex;
      align-items: center;
    }
    
    nav ul {
      display: flex;
      margin-right: 25px;
    }
    
    nav li {
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 0;
      margin-top: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative;
      margin: 0;
    }
    
    nav a::before {
      content: '';
      display: block;
      height: 5px;
      background: rgb(167, 157, 157);
      position: absolute;
      top: -.75em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
      transform: scale(1,1);
    }
  }
  




/* Main Styling */

.container {
  position: relative;
  margin: 0, auto;
}

.transbox {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  vertical-align: center;
  height: 500px;
  background: rgba(104, 101, 101, .50);
  border: 1px solid black;
}
.para {
  margin: 5%;
  font-weight: bold;
  color: green;
  z-index: 300;
}

.transbox2 {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 50%;
  vertical-align: center;
  height: 500px;
  background: rgba(104, 101, 101, .50);
  border: 1px solid black;
}


/*countdown Styling */

div.wrapper {
  width: calc(4*225px);
  margin: 0 auto;
}

p.numbers {font-size: 6em}
 
div#countdown p {
  width: 100;
  display: inline-block;
  text-align: center;
}

p.numbers {
  width: 100%;
  height: 70%;

  background: #ffffff;
  margin-top: -50px;
  padding-top: 100px;
}

p.strings {
  width: 100%;
  height: auto;
  padding: 30px 0;
  background: #ff5722;
  color: #ffffff;
}

div.cd-box {
  width: 210px;
  height: 300px;
  background: #ffffff;
  float: left;
  padding: 0;
  margin: 90px 15px 0 0;
}

