* {
  margin: 0;
  padding: 0;
}

*{
    box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  
}

/* ==================
    general layout
===================== */

/* navigation */
.header { 
  background: rgb(0, 0, 0);
  margin: 0;
  
}
.header-content {
  display: flex;
  padding: 1rem;

}

.logo {
  color: white;  
  margin-right: 2rem;
  margin-left: 1rem;
}

.nav {
  position: fixed;
  background: #000;
  width: 100%;  
  top: 0;
  right: 0; 
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms; 
  z-index: 5;
}
.navigation-open {
  transform: translateX(-100%);
}

.nav-list {
  display: flex;
  list-style: none; 
  margin: 0;
  padding: 0; 
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 700; 
  text-transform: uppercase; 
  margin-right: 1em;
  letter-spacing: .03rem;
}
.nav-link:hover,
.nav-link:focus {
  color: yellow; 
}

.close-nav {
  border: 0;
  background: 0;
  color: white;
  font-weight: 700;
  font-size: 3rem;
  cursor: pointer;
  padding: .5em;

}

.open-nav {
  border: 0;
  background: 0;
  color: #fff;
  cursor: pointer;
  padding: .5em;
  margin-left: auto;
  font-size: 1.5rem;
}

@media (min-width: 718px) {
  .open-nav,
  .close-nav {
    display: none;
  }

  .nav {
    position: initial;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .nav-link {
    font-size: .9rem;
  }
  .nav-item {
    margin-left: 4em;

  }
}

/*layout */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

/* Main Styling */

.main-container {

  background-image: url(../images/pic4Lm.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#464646;
  border-top: 0px solid transparent; 
  border-bottom: 0px solid transparent; 
  width: 100%;
  height: 520px;
  position: relative;
}

/***************************
wrapper for the countdownn
***************************/


.transbox {
  height: 180px;
  background: rgba(37, 35, 35, 0.8); 
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

/*countdown Styling */
.next-launch {
  display: flex;
  justify-content: left;
  margin-left: 8rem;
  color:white;
}
.countdown {
  display: flex;
  margin: 0 2rem;
}


p.numbers {font-size: 4.5rem}

.timer-container {
  max-width: 90%;
  margin: 0 auto; 
  bottom: 0;
}

.cd-box {
  display: flex;
  flex-direction: column;
  color:white;
  padding: 0;
  text-align: center;
  margin: 0 auto;
}
.strings {
  font-size: 1.3rem;
}


/***************************
Footer style
***************************/


footer {
  background: black;
}

.footer-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 200px;  
  color: white;
  font-size: 1.3rem;
  text-align: center;
  padding: 3px;
}

.footer-div a {
 
  color: white;
}

a {
  text-decoration: none;
  color: white;
  /*TODO: add some zoom or something */
}


